.header {
    position: fixed;
    width: 100%;
    /* background-image: url("../img/desktop.jpg");
    background-size: cover;
    background-position: center center; */
    height: 75vh;
    top: 0;
    z-index: 9999;
    .container{
        display: table;
        height: 100%;
    }
}
.overlay {
    height: 100%;
    width: 100%;
}

.logo {
    display: table-cell;
    vertical-align: middle;
    padding-right: 1rem;
    a {
        display: inline-block;
        font-family: 'Share', Helvetica, Arial;
        font-weight: 400;
        text-decoration: none;
        color: #fff;
        font-size: 3rem;

        h1{
            margin: 0;
        }
    }
}

.logo-caption {
    display: table-cell;
    vertical-align: middle;
    width: 100%;

    p {
        font-size: 1.6rem;
        display: block;
        padding: 0 0 0 1rem;
        margin: 0;
        border-left: 2px solid #fff;
        line-height: 1.6;
        color: #fff;
    }
}

@media screen and (max-width: 45rem)  {

   .logo-caption {
    display: none !important;

   }
    .logo {
        text-align: center;
    }
}

@media screen and (min-width: 63.75rem)  {
    .logo {
        padding-left: 0;
    }
}