* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Roboto', Helvetica, Arial;
  font-size: 100%;
  color: #212121;
  transition: all .4s .3s ease-in;
}

body,html{
    width: 100%;
}

.container {
  width: 100%;
  max-width: 1020px;
  margin: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
 }

.card  {
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}